@model IQueryable<FoodAndGo.Data.Category>
@{
    ViewData["Title"] = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Category List</h3><br />

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>CATEGORY</th>
            <th>CATEGORY DESC</th>
            <th>STATUS</th>
            <th>UPDATE</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescp</td>
                <td>@item.IsPublish</td>   
                <td><a href="/Category/CategoryGet/@item.Id" class="btn btn-warning">Update</a>


            </tr>
        }
    </table>
    <a href="~/Category/CategoryAdd" class="btn btn-primary">New Category</a>
</body>
</html>